$color-background: #FDFBF8;
$color-text: #312F2C;
$color-accent: #B49A6C;
$color-light-gray: #EFEFEF;

$spacing-sm: 1.5rem;
$spacing-md: 2.5rem;
$spacing-lg: 6rem;

$breakpoint-xs: 560px;
$breakpoint-sm: 561px;
$breakpoint-md: 769px;
$breakpoint-lg: 1041px;
