.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 3rem 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    .lightbox-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .lightbox-header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .lightbox-nav-mobile {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .lightbox-nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .lightbox-body {
        flex-grow: 1;
        min-height: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include md-up {
            justify-content: space-between;
        }
    }

    .lightbox-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border: 10px solid white;

        @include sm-up {
            border-width: 15px;
        }

        @include md-up {
            border-width: 20px;
        }

        @include lg-up {
            border-width: 30px;
        }
    }

    .lightbox-btn {
        position: relative;
        color: white;
        border-radius: 50%;
        padding: 0.75rem;
        border: 2px solid white;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
