@import '../variables';
@import '../mixins';

.trip-page-gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .gallery-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .gallery-item {
        flex: 0 0 100%;
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            object-fit: contain;
        }

        .caption {
            position: absolute;
            bottom: 40px;
            left: 40px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: $spacing-sm $spacing-sm;
            border-radius: 5px;
            font-size: 1rem;
        }
    }
}
